
[data-clockfmt]:has(>.ccontainer) div {
    display : inline-block;
}

[data-clockfmt] {
    align-content: center;
}

.cword {
    position: relative;
    min-width: 100px;
}
.cval {
    transition: all 1.8s ;
    position: absolute;
    top: 0em;
}
.cval3.free {
    position: static;
    top:0px;
    width: 80px;
    height: 2ex;
    visibility: hidden;
}

[data-clockfmt] .cval.outdated,[data-clockfmt] .cval.vanish,[data-clockfmt] .cval.free {
    color:transparent;
    border-color: transparent;
    background-color: transparent;
}
.cval.outdated { top:  2em; }
.cval.vanish   { top: -2em; }
.cval.free     { top: -2em; }
[data-clockfmt] .cval.free {
    visibility:hidden;
    transition:none;
}
.cbindright {
    right: 0.1em;
}
.cbindleft.cbindright {
    right: 0.3em;
}
